<!DOCTYPE html>
<html>
<head>
  <title>Swift on ECS</title>
  <link rel="stylesheet" href="https://a0.awsstatic.com/main/css/1.0.249/style.css">
  <link rel="stylesheet" href="/styles/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
</head>
<body>
  <header id="aws-page-header" class="aws-nav" role="navigation">
    <div class="aws-nav-header">
      <div class="aws-nav-header-left">
        <div id="aws-nav-flyout-trigger" class="aws-nav-flyout-trigger"></div>
        <div class="aws-bg-logo aws-amazon_web_services_blocks-header-desktop-en">
          <a href="https://aws.amazon.com"><span>Click here to return to Amazon Web Services homepage</span></a>
        </div>
      </div>
    </div>
  </header>

  <div id="aws-page-content" class="page-content">
    <main role="main">
      <section>
        <div class="row">
          <h1>Hello, World!</h1>
          <p>This is an application written entirely on a Swift back-end.</p>
        </div>
        <div class="row">
          <h2>Built With:</h2>
        </div>
        <div class="columnbuilder">
          <div class="row column-builder ingredients">
            <div class="four columns">
              <a href="">
                <div class="svg-container">
                  <img src="/images/ecs.svg" alt="">
                </div>
                <p>Amazon Elastic Container Service (ECS)</p>
              </a>
            </div>
            <div class="four columns">
              <a href="">
                <div class="svg-container">
                  <img src="/images/swift.svg" alt="">
                </div>
                <p>Swift</p>
              </a>
            </div>
            <div class="four columns">
              <a href="">
                <div class="svg-container">
                  <img src="/images/vapor.svg" alt="">
                </div>
                <p>Vapor</p>
              </a>
            </div>
          </div>
        </div>
    </main>
  </div>

  <footer id="aws-page-footer" class="aws-page-footer" role="content-info">
    <div class="aws-row aws-content-width-constrain">
      <p>An AWS Solution Builders demo.</p>
    </div>
  </footer>
</body>
</html>

